---
---

// Headers
$header-bg-color: #e30044 !default;
$header-bg-color-secondary: #54469c !default;

// Text
$section-headings-color: #54469c !default;
$body-link-color: #e30044 !default;

@import "{{ site.theme }}";
