---
---

// Headers
$header-bg-color: #54469c !default;
$header-bg-color-secondary: #98ca3c !default;

// Text
$section-headings-color: #54469c !default;
$body-link-color: #8e0b55 !default;

@import "{{ site.theme }}";
